@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200;300;400;600;700;800;900&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  /* background-color: #242424; */
  background-color: #e1dfdd;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  /* color: rgba(255, 255, 255, 0.87); */
  font-family: 'Fira Sans', sans-serif;
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  line-height: 1.5;
}

.app {
  width: 100%;
  /* height: 100%; */
  height: 70vh;
  background-image: url('./assets/hero.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
